/*
@package themeprotagonist

===========================
CSS FOR THE ACE FOR IN THE CUSTOM CSS PAGE
===========================
*/
#customCss {
  position: relative;
  width: 500px;
  height: 400px;
}
