/*
@package themeprotagonist
*/

// (Inline comments do not show up in SASS compile)

// ===========================
// VARIABLES
// ===========================

$font-header: 'Coiny', cursive;
$font-body: 'Open Sans', sans-serif;

// ===========================
// MIXINS
// ===========================

@mixin animate ( $attr, $time ) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}

@mixin transform ( $val ) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

/*
===========================
GENERIC
===========================
*/

body {
  font-family: $font-body;
}

.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%;
    .table-cell {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
}

/*
===========================
HEADER
===========================
*/

.header-container {
  position: relative;
  display: block;
  height: 326px;
  text-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.site-title {
  font-family: $font-header;
  color: #fff;
  font-size: 48px;
  margin: 0;
}

.site-description {
  font-family: $font-body;
  color: #fff;
  font-size: 18px;
  margin-top: 0.5em;
}

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
===========================
NAV BAR
===========================
*/
.navbar-protagonist {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background-color: rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.2);
  ul { float: none; }
  li {
    float: none;
    display: inline-block;
    a {
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      @include animate( opacity, 320ms );
        &:hover,
        &:focus,
        &:visited { background: none; opacity: 1;
          &:after { @include transform( translateY(0) ); opacity: 1; }
        }
        &:after {
          content: '';
          position: inherit;
          display: block;
          left: 15px;
          right: 15px;
          bottom: 10px;
          height: 2px;
          background: #fff;
          @include animate( all, 320ms );
          opacity: 0;
          @include transform( translateY(5px) );
        }
    }
  }
}
