// @package themeprotagonist

// ===========================
// VARIABLES
// ===========================

$font-header: 'Coiny', cursive;
$font-body: 'Open Sans', sans-serif;

$primary-color: #000;
$light-grey: #ababab;
$dark-grey: #898989;
$verylight-grey: #f1f1f1;
$rollover-grey: #333333;
